<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1><%= title %></h1> <!--imprimo el titulo que le paso en el render del controller-->
                </div>
                <div class="centrado">                    
                    <a href="/admin/usuarios"><button><i class="fas fa-users"></i> Administrar usuarios</button></a>
                    <a href="/admin/productos"><button><i class="fas fa-cheese"></i> Administrar productos</button></a>
                    <a href="/admin/categorias"><button><i class="fas fa-filter"></i> Administrar categorias</button></a>
                    <a href="/admin/ingredientes"><button><i class="fas fa-receipt"></i> Administrar ingredientes</button></a>
                </div>

            </section>
        </main>


        <%- include('../partials/footer.ejs') %>
    </body>
</html>