        <footer>
            
                <div id="contenedor-logo-footer"  class="footer-column">
                    <img class="logo-footer"
                    id="image"
                    src="/img/sp_logo.png"
                    alt="Logo footer"
                    />
                </div>
             
                <div id="footer-informacion" class="footer-column">
                    <div><i class="fab fa-whatsapp"> </i></div>

                        <h3 class="footer-h3"> +54 1138209057 </h3>

                    <div><i class="fab fa-instagram"></i></div>

                        <h3 class="footer-h3"> PasteleriaSucre </h3>

                    <div><i class="fab fa-twitter"></i></div>

                        <h3 class="footer-h3"> @PasteleriaSucre </h3>

                    <div><i class="fas fa-envelope"></i></div>

                        <h3 class="footer-h3"> sucrepasteleria@gmail.com </h3>

                    
                        
                </div>
                
            <div id="mapa-footer" class="footer-column">  
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105067.54205069569!2d-58.45183960008806!3d-34.62032437223645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires!5e0!3m2!1sen!2sar!4v1661194843809!5m2!1sen!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
            </div>  

                   
        </footer>