<!DOCTYPE html>
<html lang="en">
    <head class="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/footer.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">   
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body> 
    <header>
            

    </header> 
        
        <footer>
            
                <div id="contenedor-logo-footer" >
                    <img class="logo-footer"
                    id="image"
                    src="/img/sp-logo.png"
                    alt="Logo footer"
                    />
                </div>
             
                <div class="footer-informacion">
                    <div><i class="fab fa-whatsapp"> </i></div>

                        <h3 class="footer-h3"> +54 1138209057 </h3>

                    <div><i class="fab fa-instagram"></i></div>

                        <h3 class="footer-h3"> PasteleriaSucre </h3>

                    <div><i class="fab fa-twitter"></i></div>

                        <h3 class="footer-h3"> @PasteleriaSucre </h3>

                    <div><i class="fas fa-envelope"></i></div>

                        <h3 class="footer-h3"> sucrepasteleria@gmail.com </h3>

                    
                        
                </div>
                
                
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105067.54205069569!2d-58.45183960008806!3d-34.62032437223645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires!5e0!3m2!1sen!2sar!4v1661194843809!5m2!1sen!2sar" width="400" height="400" style="border:2;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
              

                   
        </footer>

    </body>
</html>