<header>
    <div id="barra-superior">
        <div id="buscador">
            <form action="#" method="GET">
                <input type="text" name="busqueda" placeholder="Buscar...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div id="grupo-dcho">
            <div id="carrito">
                <a href="carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
            </div>
            <div id="login-bar">
                <div>
                    <a href="/registro">Crea tu cuenta</a>
                </div>
                <div>
                    <a href="ingreso">Ingresa</a>
                </div>
            </div>

        </div>
    </div>
    <div id="contenedor-logo">
        <img src="img/sp_logo.png">
    </div>
    <nav id="barra-navegacion">
        <ul>
             <li id="abrir-menu" class="invertido derecha solo-mobile"><a href="#">Menu <span><i class="fas fa-bars"></i></span></a></li>
             <li><a href="/">Home</a></li>
             <li><a href="productos">Productos</a></li>
             <li><a href="info">Quienes Somos</a></li>
             <li><a href="contacto">Contacto</a></li>
             <li><a href="delivery">Delivery</a></li>
             <li><a href="preguntas-frecuentes">Preguntas Frecuentes</a></li>
             <li class="invertido solo-mobile"><a href="carrito"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
             <li class="invertido solo-mobile"><a href="ingreso"><i class="fas fa-user"></i>Ingresar</a></li>
             <li class="invertido solo-mobile"><a href="registro"><i class="fas fa-user-plus"></i>Registrarme</a></li>
             <li id="cerrar-menu" class="derecha solo-mobile"><a href="#">Cerrar <span><i class="fas fa-window-close"></i></span></a></li>
        </ul>
    </nav>
</header>