<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div class="ancho-full centrado">
                <h1>Carrito de compras</h1>
            </div>
            <section style="
    width: 100%;
    overflow: scroll;
">
                <div id="carrito-de-compras" style="
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    max-width: 100%;
">
                    <div style="
    display: table-row;
    vertical-align: middle;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    /* margin-bottom: 5px; */
">
                        <div style="
    display: none;
    /* display: table-cell; */
">Foto</div>
                        <div style="
    display: table-cell;
">Producto</div>
                        <div style="
    display: table-cell;
">Precio</div>
                        <div style="
    display: table-cell;
">Cantidad</div>
                        <div style="
    display: table-cell;
">Subtotal</div>
                        <div style="
    display: table-cell;
"></div>
                    </div>
                    <div style="
    display: table-row;
">
                        <div style="
    display: none;
    /* display: table-cell; */
"><img src="img/mousse-cake.png" alt="Imagen del producto" style="
    width: 3em;
    height: auto;
    aspect-ratio: 1;
"></div>
                        <div style="
    display: table-cell;
    vertical-align: middle;
">Torta Mousse</div>
                        <div style="
    display: table-cell;
">$100.00</div>
                        <div style="
    display: table-cell;
"><i class="fa fa-minus"></i>2<i class="fa fa-plus"></i></div>
                        <div style="
    display: table-cell;
">$200.00</div>
                        <div style="
    display: table-cell;
"><i class="fas fa-trash"></i></div>
                    </div>  
                        
                </div>
            </section>
        </main>
    <!-- <%- include('./partials/footer.ejs') %> -->
    </body>
</html>