<!-- <!DOCTYPE html>
<html lang="en">
    <head class="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/contacto.css">
        <link rel="stylesheet" href="css/style-solo-header.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">   
        
        
        </head>

    <body>

        <%- include('./partials/header.ejs') %>   -->
            
<!DOCTYPE html>
    <html lang="en">
        <%- include('./partials/head.ejs') %>
        <body>
            <%- include('./partials/header.ejs') %>

        <main> 
            <section>
             <h2 class="titulo1">Contacto</h2>
                <h3 class="titulo2">Envianos Tu Consulta</h3>
                    <div class="formulario-contacto formulario">
                        <form action="/" method="post" class="formulario">
                            <div class="container-form-contacto">
                                <div class="ancho-full centrado">
                                    
                                    <label for="Nombre"> *Su nombre:</label>
                                    
                                    
                                    <input type="text" id="nombreUsuario" name="nombeUsuario" placeholder="Nombre completo" minlength="5" required>
                                    
                                </div>
                                <div class="ancho-full centrado">
                                    
                                        <label for="Emial"> *Email:</label>
                                    
                                    
                                        <input type="email" id="email" name="email" placeholder="Email" minlength="10" required>
                                    
                                </div>
                                <div class="ancho-full centrado">
                                    
                                        <label for="Telefono"> *Telefono:</label>
                                    
                                    
                                        <input type="tel" id="telefono" name="telefono" placeholder="telefono" maxlength="12" required> 
                                    
                                </div>
                                <div class="ancho-full centrado">
                                    
                                        <label for="Localidad"> Localidad:</label>
                                    
                                    
                                        <input type="text" id="localidad" name="localidad" placeholder="Localidad" maxlength="32z" required> 
                                    
                                </div>
                                <div class="ancho-full centrado">
                                    
                                        <label for="Comentarios">Comentarios:</label>
                                    
                                    
                                        <textarea id="comentario" name="comentario" row="4" cols="50"></textarea>
                                    
                                </div >
                                <div class="boton-enviar">
                                    <button type="submit"  class="boton-enviar">ENVIAR </button>

                                </div>
                            </div>

                        </form>

                    
                    </div>

                    
            </section>
            <article class ="logo-contacto12">
                <div class="logo-contacto1">

                    <img class="logo-contacto"
                    id="image"
                    src="/img/sp-logo.png"
                    alt="Logo footer"
                    />
                    <br>

                    <div class="descripcion-contacto-logo">

                        <h1> <span>Pasteleria Sucre</span></h1>
                        
                        <br>

                        <h4> Sanlorenzo 1920 - CABA</h4>
                        <h1> 4154-2342 </h1>


                    </div>
                </div> 
            </section>   
                
                
             
        </main>
        <%- include('./partials/footer.ejs') %>

    </body>
</html>