<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main id="delivery">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>CONSULTA SI LLEGAMOS A 
                        TU DOMICILIO</h1>
                </div>
                <form class="flex" action="/delivery" method="post">
                    <div class="ancho-full centrado">
                        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                    </div>
                    <div class="ancho-full centrado">
                        <input type="tex" name="numero" id="numero" placeholder="Número" required>
                    </div>
                    <div class="ancho-full centrado">
                        <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad/Localidad" required>
                    </div>
                    <div id="mapa" class="ancho-full centrado">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26278.115535080597!2d-58.4138953622175!3d-34.584826443567565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca99c609fc2f%3A0x392ca99351808a75!2sRecoleta%2C%20CABA!5e0!3m2!1ses!2sar!4v1661885854397!5m2!1ses!2sar"
                        width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="BUSCARr">Buscar</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <!-- <%- include('./partials/footer.ejs') %> -->
    </body>
</html>