<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header
        style="background-color: red;display: flex;/* justify-content: space-between; // width: 100%; */flex-wrap: wrap;">
        <div id="barra-superior"
            style="background-color: green;display: flex;flex-basis: 100%;justify-content: space-between;">
            <div id="buscador" style="background-color: purple;">
                texto
            </div>
            <div id="grupo-dcho" style="background-color: yellow;">
                <div id="carrito" style="background-color: indianred;">
                    carrito
                </div>
                <div id="login-bar" style="background-color: gray;">
                    <a href="#">login</a>
                    <a href="#">register</a>
                </div>

            </div>
        </div>
        <div id="contenedor logo" style="background-color: blue;flex-basis: 100%;">text</div>
        <nav id="barra-navegacion" style="
        flex-basis: 100%;
    ">
            <ul style="
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
    ">
                <li class="nav-button" style="background-color: chocolate;">Boton I1</li>
                <li class="nav-button" style="background-color: chocolate;">Boton I2</li>
                <li class="nav-button" style="background-color: chocolate;">Boton I3</li>
                <li class="nav-button" style="background-color: chocolate;">Boton D1</li>
                <li class="nav-button" style="background-color: chocolate;">Boton D2</li>
            </ul>
        </nav>
    </header>
</body>

</html>