<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ingreso.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-">
            
            </div>  
            <div>         
                <form action="#" method="GET">
                    <input type="text" name="busqueda" placeholder="Buscar...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
             <div id="header-logo">
                <img src="img/sp-logo.png">
            <div>
                <ul>
                    <a href="#">Carrito</a>
                    <a href="/register">Crea tu cuenta</a>
                    <a href="/login">Ingresa</a>
                </ul>
            </div>
        </div>
        <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Quienes Somos</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Delivery</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
            </ul> 
        </nav>      
    </header>
</body>
</html>