<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <section class="flex">
                    <div class="ancho-full centrado">
                        <h1>¿QUIENES SOMOS?</h1>
                        
                        <p>La historia de Sucré se remonta a fines de los años 70, cuando una amiga de Amelia le pidió
                            que la ayudara con lo que ella mejor sabía hacer: las tortas.
                            “NO EXISTE GRAN TALENTO SIN GRAN VOLUNTAD”(HONORÉ DE BALZAC)
                            Aunque ese primer emprendimiento no tuvo el éxito esperado, pensó: “Si puedo hacer las
                            tortas para ella, también puedo hacerlas para mí”. Y así salió a recorrer los cafés y
                            confiterías de la zona ofreciendo bandejas con pedacitos de tortas que con esmero preparaba
                            desde la cocina de su casa de Belgrano, sobre la calle O´Higgins. Y así, algo que nació como
                            un hobby, empezaba a vislumbrar un nuevo camino…

                            Mirando hacia atrás muchos recuerdos se encienden… tras la hiperinflación de 1989, con paso
                            firme, el garaje de la casa de Belgrano se convertiría en una suerte de primer sucursal:
                            hicieron una abertura en la puerta y colocaron un mostrador y una heladera. Sucre abría por
                            primera vez sus puertas para que los vecinos pudieran disfrutar el sabor de los pasteles que
                            veían desfilar todos los días frente a sus ventanas. La historia se repitió en 2001 y, a
                            pesar de la crisis, Sucre inauguró el primer local en la calle San Lorenzo 1920 en CABA. En
                            nuestra filosofía, los momentos difíciles fueron siempre pasos para adelante.

                        </p>
                    </div>
                    </form>
                </section>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>