<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>¿QUIENES SOMOS?</h1>
                    <p>Sucré Pastelería, más que una empresa, es el sueño cumplido de una pequeña familia emprendedora.</p>

                    <p>Abrimos nuestra primera sucursal hace 20 años en Capital Federal, priorizando siempre la calidad de nuestros productos para ofrecerle a nuestros clientes la mejor experiencia.</p>
                    
                    <p>Realizamos capacitaciones anuales a nuestro equipo, para mantenernos actualizados acerca de las ultimas novedades del mundo la pasteleria.
                    </p>
                </div>
                </form>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>