<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
<!-- Aca va pegado el contenido de header.html-->
  </header>
  <main>
    <section>
      <h1>BIENVENIDO</h1>
      <form action="/Ingreso" method="post">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label for="Contraseña">Contraseña:</label>
          <input type="password" name="Password" id="password">
        </div>
        <div>
          <div>
            <input type="checkbox" name="recordarme" id="recordarme" value="recordarme">
            <label for="recordarme">Recordarme:</label>
          </div>
          <div>
            <a href="#">Olvidaste tu contraseña?</a>
          </div>
        </div>
        <div>
          <button type="submit">Ingresar</button>
        </div>
          <div>
            <div>
            <a href="#">Volver</a>
          </div>
          <div>
            <a href="#">Registrate</a>
          </div>
        </div>
    </form>
  </section>
  </main>  
</body>
</html>