<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <section>
                    <div class="ancho-full centrado">
                        <h1>PREGUNTAS FRECUENTES</h1>
                    </div>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Como puedo pagar mi pedido?</div>
                            <div><i class="fas fa-minus"></i></div>
                        </div>
                        <div class="respuesta">En la Tienda Online podes pagar con tarjeta de crédito, débito y
                        mediante la plataforma de Mercado Pago. </div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Donde se reembolsa mi dinero en caso de devolucion?</div>
                            <div><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="respuesta">Al medio de pago con el que abonaste. 
                        </div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Con cuanta anticipacion debo realizar mi pedido?</div>
                            <div><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="respuesta">Preferentemente con 2 o 3 días de anticipación.</div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Cual es el costo del envio?</div>
                            <div><i class="fas fa-minus"></i></div>
                        </div>
                        <div class="respuesta">En el proceso de compra, vas a poder indicarnos tu Domicilio y ver el Costo correspondiente del mismo. </div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Cuanto duran los productos en la heladera?</div>
                            <div><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="respuesta">Todas las piezas de pastelería son super frescas y duran en las cajas que
                            envíamos en heladera perfectamente 1 semana.
                        </div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Como realizan los envios?</div>
                            <div><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="respuesta">Realizamos entregas a domicilio, a través de nuestra propia logística con
                            autos refrigerados.
                        </div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Hasta donde llega el delivery?</div>
                            <div><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="respuesta">Ingresando en la sección "Delivery" podes fijarte si llegamos hasta tu
                            Domicilio.
                        </div>
                    </article>

                    <article class="pregunta-item">
                        <div class="pregunta-encabezado">
                            <div class="pregunta">¿Cual es el horario de atencion?</div>
                            <div><i class="fas fa-plus"></i></div>
                        </div>
                        <div class="respuesta">Lunes a Domingo y Feriados de 9 a 20hs.
                        </div>
                    </article>

                    


                </section>
            </main>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>