<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section>
            <div class="ancho-full centrado">
                <h1>Preguntas frecuentes</h1>
            </div>

            <article class="pregunta-item">
                <div class="pregunta-encabezado">
                    <div class="pregunta">Como estas?</div>
                    <div><i class="fas fa-minus"></i></div>
                </div>
                <div class="respuesta">Bien, vos?</div>
            </article>
            
            <article class="pregunta-item">
                <div class="pregunta-encabezado">
                    <div class="pregunta">Como te llamas?</div>
                    <div><i class="fas fa-plus"></i></div>
                </div>
            </article>
            
        </section>
    </main>
    <!-- <%- include('./partials/footer.ejs') %> -->
    
</body>

</html>