<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>


<body>
    <%- include ('partials/header.ejs') %>


    <main id="productos">
        <div class="ancho-full centrado">
            <h1>NUESTROS PRODUCTOS</h1>
        </div>
        <section class="flex">
            <article class="ancho-half">
                <div class="ancho-full">
                    <img src="/img/cheesecake.png" alt="torta" style="max-width:100%;">
                </div>
                <div class="ancho-full">
                    <div> CHEESECAKE</div>
                    <div>$300</div>
                    <div class="ancho-full espaciado" >
                        <button>Agregar al carrito</button>
                        <button>Ver mas</button>
                    </div>
            </div>
            </article>  
        </section>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>
</html>