<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <section>
                <div class="ancho-full centrado">
                    <h1>Recuperacion de contraseña</h1>
                </div>
                <div class="ancho-full centrado">
                    <h3>¡Correo de recuperación enviado!</h3>
                </div>
                <div class="ancho-full centrado">
                    <p>Si la dirección de correo indicada es una direccion registrada en nuestro sistema, en los proximos minutos vas a recibir un mail con un link para reestrablecer tu contraseña</p>
                    <p>Recordá chequear tu "Correo no deseado".</p>
                </div>
            </section>
        </main>
        <!-- <%- include('./partials/footer.ejs') %> -->
    </body>
</html>