<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main id="recuperar">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>RECUPERAR CONTRASEÑA</h1>
                </div>
                <form class="flex" action="/usuarios/recuperacion" method="GET">
                    <div class="ancho-full centrado">
                        <input type="email" name="email" id="email" placeholder="Correo electronico" required>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="recuperar">Recuperar</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                        <div>
                            <a href="ingreso">Ingresar</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <!-- <%- include('./partials/footer.ejs') %> -->
    </body>
</html>