<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/registro.css">

</head>

<body>
    <header>
        <!-- Aca va pegado el contenido de header.html-->
    </header>
    <main>
        <section class="flex">
            <div class="ancho-full centrado">
                <h1>FORMULARIO DE REGISTRO</h1>
            </div>
            <form class="flex" action="registro" method="post">
                <div class="ancho-full centrado">
                    <input type="email" name="email" id="email" placeholder="Correo electronico" required>
                </div>
                <div class="ancho-half centrado">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </div>
                <div class="ancho-half centrado ">
                    <input type="password" name="password" id="password" placeholder="Repetir contraseña" required>
                </div>
                <div class="ancho-half centrado ">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                </div>
                <div class="ancho-half centrado ">
                    <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" required>
                </div>
                <div class="ancho-half centrado ">
                    <input type="text" name="Fechadenacimiento" id="Fechadenacimiento"
                        placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" required>
                </div>
                <div class="ancho-half centrado ">
                    <input type="tel" name="telefono" id="telefono" placeholder="Telefono" required>  
                </div>
                <div class="ancho-half centrado ">
                    <input type="text" name="calleyaltura" id="calleyaltura" placeholder="Calle y altura" required>
                </div>
                <div class="ancho-half espaciado ">
                    <div class="registro-ancho-quarter centrado ">
                    <input type="number" name="piso" id="piso" placeholder="Piso" required maxlength="2"> 
                    </div>
                    <div class="quarter centrado ">
                        <input type="number" name="dpto" id="dpto" placeholder="Dpto" required maxlength="1"> 
                    </div>
                </div>
                
                <div class="ancho-full centrado">
                    <button type="submit" id="ingresar">Registrate</button>
                </div>
                <div class="ancho-full espaciado">
                    <div>
                        <a href="javascript:history.back()">Volver</a>
                    </div>
                    <div>
                        <a href="ingreso">Ingresar</a>
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>

</html>