<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>Gracias por registrarte</h1>
                    <h3>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h3>
                    <p>En minutos te enviaremos un mail de validación para confirmar tu cuenta.</p>
                    <p>Recorda chequear tu "Correo no deseado".</p>
                </div>
                </form>
            </section>
        </main>
        <!-- <%- include('./partials/footer.ejs') %> -->
    </body>
</html>