<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/registrado.css">

</head>

<body>
    <header>
        <!-- Aca va pegado el contenido de header.html-->
    </header>
    <main>
        <section class="flex">
            <div class="ancho-full centrado">
                <h1>Gracias por registrarte</h1>
                <p>En minutos te enviaremos un mail de validación para confirmar tu cuenta.</p>
                <p>Recorda chequear tu "Correo no deseado".</p>
            </div>
            </form>
        </section>
    </main>
</body>

</html>