<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucré Pastelería</title>
</head>
<body>
    <h1>Sucré Pastelería</h1>
    <p>Esta pagina solo muestra que el servidor está corriendo.</p>
    <p>Para ingresar al sitio, hace click <a href="home.html">aca</a> para abrir "home.html"</p>
    <h2>Enlaces de prueba</h2>
    <ul>
        <li><a href="carrito">carrito</a></li>
        <li><a href="compra">compra</a></li>
        <li><a href="delivery"></a></deliveryli>
        <li><a href="header"></a></li>header
        <li><a href="info"></a></li>info
        <li><a href="ingreso"></a></li>ingreso
        <li><a href="perfil"></a></li>perfil
        <li><a href="preguntas-frecuentes"></a></li>preguntas-frecuentes
        <li><a href="producto"></a></li>producto
        <li><a href="productos"></a></li>productos
        <li><a href="recuperar"></a></li>recuperar
        <li><a href="reestablecercontrasena"></a></li>reestablecercontrasena
        <li><a href="registrado"></a></li>registrado
        <li><a href="registro"></a></li>registro
        <li><a href="validado"></a></li>validado
    </ul>
</body>
</html>