<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h1>Sucré Pastelería</h1>
            <p>Esta pagina solo muestra que el servidor está corriendo.</p>
            <p>Para ingresar al sitio, hace click <a href="home">aca</a> para abrir "home.html"</p>
            <h3>Enlaces de prueba</h3>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="info">info</a></li>
                <li><a href="delivery">delivery</a></li>
                <li><a href="preguntas-frecuentes">preguntas-frecuentes</a></li>
                <li><a href="contacto">contacto</a></li>
                <li><a href="/usuarios/registro">registro</a></li>
                <li><a href="/usuarios/registrado">registrado</a></li>
                <li><a href="/usuarios/validado">validado</a></li>
                <li><a href="/usuarios/recuperar">recuperar</a></li>
                <li><a href="/usuarios/recuperacion">recuperacion</a></li>
                <li><a href="/usuarios/reestablecercontrasena">reestablecercontrasena</a></li>
                <li><a href="/usuarios/ingreso">ingreso</a></li>
                <li><a href="/usuarios/perfil">perfil</a></li>
                <li><a href="productos">productos</a></li>
                <li><a href="/productos/producto">producto</a></li>
                <li><a href="/carrito/carrito">carrito</a></li>
                <li><a href="/carrito/compra">compra</a></li>
                <hr>
                <li><a href="footer">footer</a></li>
                
            </ul>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>