.ingreso-flex {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.ingreso-ancho-full {
    flex-basis: 80%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.contenido-centrado {
    justify-content: center;
}

.contenido-espaciado {
    justify-content: space-between;
    align-items: center;
}

#ingreso-logo {
    width: 40%;
}

#email, #password, #ingresar {
    width: 100%;
}

/* Comienzo media Querys */

/* No utilizo menor a 480px para pequeños dispositivos porque desarrollamos mobile first*/

/* Smartphones mas grandes y tablets pequeñas (mas de 480px)*/
@media (min-width: 480px) { 

}

/* Tablets grandes, laptops y computadoras pequeñas (mas de 768px)*/
@media (min-width: 768px) {
    main {
            padding-left: 15vw;
            padding-right: 15vw;
        }
}

/* Laptos y computadoras mas grandes ()*/
@media (min-width: 1280px) {
    main {
        padding-left: 25vw;
        padding-right: 25vw;
    }
}
/* Fin media Querys */