button {
    /*display: flex; */
    color:#7D5A50;
    background-color: #FCDEC0 ;
    border-style: none;
    padding: ;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: ;
    margin-bottom: ;
    justify-content: center;
}