/* Stylesheet para Sucre Pasteleria*/


body {
    background-color: #F4ECE0;
    
}

h1 {
    color: #7D5A50;
}

h2 {

}

h3 {

}

p {

}

a {
    text-decoration: none;
    color:#7D5A50;
}

input {
    border-style: none;
    padding: 0.7em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button {
    display: flex;
    color:#7D5A50;
    background-color: #FCDEC0 ;
    border-style: none;
    padding: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 50%;
}

main {
    padding: 5vw;
}

/* Estilos Header */

header {

}

/* Fin estilos Header */

/* Estilos Footer */

footer {

}

/* Fin estilos Footer */

/* Comienzo media Querys */

/* No utilizo menor a 480px para pequeños dispositivos porque desarrollamos mobile first*/

/* Smartphones mas grandes y tablets pequeñas (mas de 480px)*/
@media (min-width: 480px) { 

}

/* Tablets grandes, laptops y computadoras pequeñas (mas de 768px)*/
@media (min-width: 768px) {

}

/* Laptos y computadoras mas grandes ()*/
@media (min-width: 1280px) {

}
/* Fin media Querys */