<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>BIENVENIDO</h1>
                </div>
                <% if (locals.errors) { %>
                    <div class="msg-error" >
                       <p><b>Atencion!</b> se han encontrado los siguientes errores en el formulario.</p>
                       <p>
                            <ul>
                                <% for (error of locals.errors) { %>
                                    <li><%= error.msg %></li>
                                <% } %>
                            </ul>
                        </p>                   
                    </div>
                    <% } %>
                <form id="login-form" class="flex" action="/usuarios/ingreso" method="POST">
                    <div class="ancho-full centrado">
                        <input type="text" name="email" id="email" placeholder="Correo electronico" >
                    </div>
                    <div class="ancho-full centrado">
                        <input type="password" name="password" id="password" placeholder="Contrase침a" >
                    </div>
                    <div class="ancho-full espaciado">
                        <div style="display: flex;">
                            <input type="checkbox" name="recordarme" id="recordarme">
                            <label for="recordarme">Recordarme</label>
                        </div>
                        <div>
                            <a href="recuperar">Olvidaste tu contrase침a?</a>
                        </div>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="ingresar">Ingresar</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                        <div>
                            <a href="registro">Registrate</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>  
        <!-- <%- include('../partials/footer.ejs') %> -->
        <script type="text/javascript" src="/js/validator.min.js"></script>
        <script type="text/javascript">
            window.addEventListener('load', function(e){
                let formulario = document.getElementById("login-form");
                
                formulario.addEventListener("submit", function(event){
                    let email = document.getElementById("email").value;
                    let password = document.getElementById("password").value;
                                   
                    if (validator.isEmpty(email) || !validator.isEmail(email)) {
                        event.preventDefault(); 
                        alert("El campo 'correo electronico' debe contener una direcci칩n de correo valida")
                    }
                    if (validator.isEmpty(password)) {
                        event.preventDefault(); 
                        alert("El campo 'contrase침a' es obligatorio")
                    }
                })
            })
        </script>
    </body>
</html>