<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>CONTRASEÑA ACTUALIZADA CORRECTAMENTE</h1>
                    <p>La contraseña fue actualizada. Te pedimos que vuelvas a iniciar sesión con tus
                        nuevas credenciales.</p>
                    <p><a href="/login">Iniciar sesión</a></p>
                </div>
                </form>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>