<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main id="restablecer">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>HOLA USUARIO"</h1>
                </div>
                <form class="flex" action="/usuarios/ingreso" method="post">
                    <div class="ancho-full centrado">
                        <input type="password" name="password" id="password" placeholder="Ingresa tu nueva contraseña" required>
                    </div>
                    <div class="ancho-full centrado">
                        <input type="password" name="password" id="password" placeholder="Repetir Contraseña" required>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="enviar">Enviar</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                        <div>
                            <a href="ingreso">Ingresar</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>