<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main id="registro">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>FORMULARIO DE REGISTRO</h1>
                </div>
                <div class="msg-error" >
                   <p><b>Atencion!</b> se han encontrado los siguientes errores en el formulario.</p> 
                    <p><ul>
                        <li>Error 1</li>
                        <li>Error 2</li>
                    </ul></p>
                </div>
                <form class="flex" action="/usuarios/registrado" method="POST">
                    <div class="ancho-full centrado">
                        <input type="email" name="email" id="email" placeholder="Correo electronico" required>
                    </div>
                    <div class="ancho-half centrado">
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="password" name="password" id="password" placeholder="Repetir contraseña" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="Fechadenacimiento" id="Fechadenacimiento"
                            placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="tel" name="telefono" id="telefono" placeholder="Telefono" required>  
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="calleyaltura" id="calleyaltura" placeholder="Calle y altura" required>
                    </div>
                    <div class="ancho-half espaciado ">
                        <div class="ancho-quarter centrado ">
                        <input type="number" name="piso" id="piso" placeholder="Piso" required maxlength="2"> 
                        </div>
                        <div class="ancho-quarter  centrado ">
                            <input type="text" name="dpto" id="dpto" placeholder="Dpto" required maxlength="1"> 
                        </div>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="ingresar">Registrate</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                        <div>
                            <a href="ingreso">Ingresar</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>