<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section>
                <div class="ancho-full centrado">
                    <h1>GRACIAS POR VALIDAR TU CUENTA</h1>
                </div>    
                <div class="ancho-full centrado">
                    <p>En minutos te enviaremos un mail de validación para confirmar tu cuenta.</p>
                    <p>Recorda chequear tu "Correo no deseado".</p>
                </div>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>