<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main id="carrito-compras">
            <div class="ancho-full centrado">
                <h1>Carrito de compras</h1>
            </div>
            <div id="fondo-carrito">
            <div id="contenedor-carrito">
                <div id="detalle-carrito">
                    <div class="fila encabezado">
                        <div class="celda solo-desktop"></div>
                        <div class="celda">Producto</div>
                        <div class="celda">#</div>
                        <div class="celda">Subtotal</div>
                        <div class="celda"></div>
                    </div>
                    <div class="fila">
                        <div class="celda solo-desktop"><img src="/img/mousse-cake.png" alt="Imagen del producto"></div>
                        <div class="celda izquierda">Torta Mousse<span>Precio: $100.00</span></div>
                        <div class="celda"><input type="text" value="2"></div>
                        <div class="celda">$ 200.00</div>
                        <div class="celda"><i class="fas fa-sync"></i><i class="fas fa-trash"></i></div>
                    </div>
                    <div class="fila">
                        <div class="celda solo-desktop"><img src="/img/balcarce-cake.png" alt="Imagen del producto"></div>
                        <div class="celda izquierda">Torta balcarce<span>Precio: $100.00</span></div>
                        <div class="celda"><input type="text" value="6"></div>
                        <div class="celda">$ 1200.00</div>
                        <div class="celda"><i class="fas fa-sync"></i><i class="fas fa-trash"></i></div>
                    </div>                    
                </div>
            </div>
            <div class="carrito-inline">
                <div id="vaciar-carrito">Vaciar <i class="fas fa-dumpster"></i></div>
                <div id="total">Total: $ 1400.00</div>
            </div>
            <div class="carrito-inline">
                <button>Seguir comprando</button>
                <button>Confirmar compra</button>
            </div>
        </div>  
        </main>
    <%- include('../partials/footer.ejs') %>
    </body>
</html>