<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main id="carrito-compras">
            <div class="ancho-full centrado">
                <h1>Carrito de compras</h1>
            </div>
                <% if (typeof productos === 'undefined') { %>
                    <div class="ancho-full centrado">
                        <p>No se encontraron productos en el carrito</p>
                    </div>
                    <div class="ancho-full centrado">
                        <a href="/productos">
                            <button>Seguir comprando</button>
                        </a>
                    </div>
                <% } else { %>
                    <%- include('contenido-carrito.ejs') %> 
                <% } %>
                
        </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="/js/cookies.js"></script>
    <script type="text/javascript" src="/js/carrito.js"></script>
    </body>
</html>