<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1> Finalizaste tu compra con éxito</h1>
                    <h3> Tu código de compra es #8759305</h3>
                    <p>Podrás visualizar el resumen de tu compra en tu casilla de correo electrónico o en tu perfil de usuario.</p>
                    <p>¡Muchas gracias!</p>
                </div>
                </form>
            </section>
        </main>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>