<!DOCTYPE html>
<html lang="en">
    <head class="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">   
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body> 
        <header>
            

        </header> 
        
              
        <main> 

                <section class="Image-slide">
                
                    <div class="box1">
                        <img class="slider"
                            id="image"
                            src="/images/slider.png" 
                            alt="foto del slider"
                        />
                        <div class="texto"> Bienvenidos a Sucre Pasteleria cosas ricas 
                        cuando quieras y donde  quieras </div>

                        
                            <a class="boton-personalizado-1" href="#">VER MAS</a> 
                        

                    </div>

                

                </section>
            
            <section class="Menu-preview">

                <div class="box2">
                    <img class="img1"
                    id="image"
                    src="/images/balcarse.png"
                    alt="foto de torta balcase"
                    />
                

                    <div class="texto-menu"> POSTRE BALCARCE MEDIA TORTA</div>
                    <div class="subtexto-menu"><strong>$5000</strong></div>
                </div>
                <div class="box2">        
                    <img class="img1"
                    id="image"
                    src="/images/musse.png"
                    alt="foto de torta mousee"
                    />
                

                    <div class="texto-menu"> MOUSSE DE CHOCOLATE Y NARANJA</div>
                    <div class="subtexto-menu"><strong>$5000</strong></div>
                </div> 
                <div class="box2">  
                    <img class="img1"
                    id="image"
                    src="/images/cheesecake.png"
                    alt="foto de torta cheesecake"
                    />
                

                    <div class="texto-menu">CHESSECAKE</div>
                    <div class="subtexto-menu"><strong>$5000</strong></div>

                </div> 
            
                <div class="box2">  
                    <img class="img1"
                    id="image"
                    src="/images/oreo.png"
                    alt="foto de torta oreo"
                    />
                

                    <div class="texto-menu"> CHOCO OREO</div>
                    <div class="subtexto-menu"><strong>$2500</strong></div>
                </div>
            
            </section>
            <div class="boton1">
                
                <a class="boton-vermas1" href="#">VER MAS</a> 
            </div> 
            <section class="second-preview">

                <div>
                    <img class="img2"
                        id="image"
                        src="/images/delicias.jpg"
                        alt="Delicias Alternativas"
                    />
                </div>

             <div class="texto2"> Delicias Alternativas </div>

             <div>

                <a class="boton-vermas2" href="#">VER MAS</a> 
             </div>

            </section>


            <section class="third-preview">

                    <div class="img3">

                        <img class="slider-item"
                            id="image"
                            src="/images/muestra.png"
                         alt="foto local"
                     />
                
                    </div>
                
            
            

                <div class="historia">
                    <h3>"Los productos se realizan con las mejores materias primas, sin conservantes ni colorantes, combinando sabores y técnicas propias. 
                        Nos encanta innovar, buscar nuevas recetas, probar una y otra vez hasta lograr un producto diferente. 
                        Tenemos pasión por lo que hacemos. Es por eso que cada torta lleva lo mejor de nosotras/os."
                    </h3>
                </div>
                <div class="mision">

                    <br>
                    <h2>Nuestra Misión</h2>
                    <br>

                    <ul>
                        <li>Difundir, Promover e Informar sobre las verdaderas características de la Pastelería Artesanal</li>
                        <br>
                        <li>Concientizar acerca de la importancia del consumo de Pastelería elaborada y producida por verdaderos maestros pasteleros.</li>
                        <br>
                        <li>Brindar todo el conocimiento para poder distinguir y acceder al intenso mundo del color, sabor y aromas, tan particulares 
                            que nos brinda la verdadera Pastelería Artesanal.</li>
                        <br>
                        <li>Comunicar y transmitir, toda la información conducente al deleite y la exquisita sensualidad del verdadero arte de la Pastelería.</li>
                        <br>
                    </ul>

                </div>
                    
            </section>    
             



        
        </main> 
        <footer>

            <div>
                <img class="logo"
                id="image"
                src="/images/logo.png"
                alt="Logo footer"
                />
            </div>
             
            <div>
                <div><i class="fab fa-whatsapp"> </i></div>
                    <h3> +54 1138209057 </h3>
                <div><i class="fab fa-instagram"></i></div>
                    <h3> PasteleriaSucre </h3>
                <div><i class="fab fa-twitter"></i></div>
                    <h3> @PasteleriaSucre </h3>
                <div><i class="fas fa-envelope"></i></div>
                    <h3> sucrepasteleria@gmail.com </h3>
            </div>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105067.54205069569!2d-58.45183960008806!3d-34.62032437223645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires!5e0!3m2!1sen!2sar!4v1661194843809!5m2!1sen!2sar" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            
        </footer>

    </body>
</html>