
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }


header {

    background-color: #F4ECE0;
    padding: 7%;
    width: auto;
  
    
  }

body {


    position: static;
}



.slider{

    display:table;
	position:relative;
	margin-bottom:39px;
    width: 110.6%;
}

.box1 {

    position: relative;
    display: inline-block;
    width: 91%;
}

.texto{

    position: absolute;
    top: 40%;
    left: 28%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
   
    padding:10px;
    box-sizing: border-box;
    

}



.texto-menu {

    
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.box2 {

    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;


}

.img1:hover{

    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition:all .5s ease-in-out
}

.img1{

    width: 300px;
    overflow:hidden;
}


section div .img1{

    border-width: 1px;
    border-style: solid
}

.Menu-preview{


    width: 100%;
    height: 158vh;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
}






footer {

    background-color: #F4ECE0;
    padding-top: 0px;
    padding: 40px 0px 20px ;
    height: 400px;
}



.subtexto-menu{


    font-size: 20px;
    
}

.boton-personalizado-1 {


    position: absolute;
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FCDEC0;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    left: 50%;
    top: 50%;
    

}


.boton-vermas1 {

    position: absolute;
    font-size: 30px;
    text-align: center;
    top: 180vh;
    color: #7D5A50;
    box-sizing: border-box;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.boton-vermas2 {

    position: absolute;
    font-size: 30px;
    text-align: center;
    bottom: -165%;
    left: 46%;
    color: #7D5A50;
    box-sizing: border-box;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;

}


main section .img2{

    position: absolute;
    top: 220%;
    width: 100%;
    height: 70%;
    filter: blur(3px)
}


.texto2{

    position: absolute;
    top: 120vmax;
    text-align: center;
    left: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #7D5A50;
    padding:10px;
    box-sizing: border-box;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
    

}



footer .logo {

    position: absolute;
    display: flex;
    left: 2%;
    width: 300px;
}


footer i {

  font-size: 30px;
  color: #7D5A50;
  padding: 5px;
  border: #7D5A50 1px solid;
  border-radius: 100%;

}

footer div i {

  position: relative;
  display: flex;
  margin-left: 30%;
  margin-bottom: 3px;
  
  
 
  

}


footer h3 {

    position: relative;
    display: flex;
    margin-left: 33%;
    margin-bottom: 3px;
    font-size: 20px;
    bottom: 40px;
    
    
}


footer iframe{

    position: relative;
    display: flex;
    margin-left: 63%;
    font-size: 10px;
    bottom: 320px;
    
}


.third-preview{

    background-color: #FCDEC0;
    padding: 200px;
    margin-bottom: 10px 10px;
    width: 100%;
    height: 50%;
}



.slider-item{

    width: 600px;
    position: absolute;
    display: flex;
    left: 50%;
    
    
    
}



.historia {

    display: flex;
    position: relative;
    margin: 0 10px;
    width: 30%;
    text-align: center;
}


.mision {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    

}


.titulo1{

    text-align: center;
    color:#7D5A50
}


.titulo2{

    text-align: left;
    color:#7D5A50
    
  
  }


.formulario{
  
    display: flex;
    
  
  
  }

.container-form-contacto{
  
    background-color: white;
    padding: 28px;
    margin: 0 auto;
    
  
  }

.container-form-contacto div{
  
    margin-top: 20px;   
  }
  

.boton-enviar{
  
    width: 100px;
    padding: 0px;
    border-radius: 5px;
    background-color: #FCDEC0;
    color: #7D5A50;
    font-size: 16px;
    cursor: pointer;
  
  }
    
.boton-enviar:hover{

    background-color: white;
    
  }

  

.ingreso-ancho-full {
    flex-basis: 80%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.contenido-centrado {
    justify-content: center;
}


label {
    color:#7D5A50;
}


#nombreUsuario, #email, #telefono, #localidad , #comentario {
    width: 100%;
}


main section .logo-contacto {

    position: absolute;
    left: 60%;
    bottom: 30%;
}


main section .logo-contacto .logo{

    width: 400px;
    
}


@media (max-width: 480px ){  

    header{
        padding: 7%;
        width: auto;
        
    }

   

    .box1{

        position: relative;
        display: inline-block;
        width: auto;


    }
    
    .texto{

        display: flex;
        font-size: 12px;
        position: absolute;
        text-align: center;
        top: 70px; 
        left: 1px;
        
    
        
    
    }

    .boton-personalizado-1{

        padding: 0%;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }


    .Menu-preview{

        
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        margin-bottom: 100%;
        
       
        
    }

    .img1{

        width: 150px;
    }

    .texto-menu {


        font-size: 10px;
    }

    .subtexto-menu {

        font-size: 15px;
    }

    main section .img2{

        position: absolute;
        top: 165%;
        margin: 0px;
        width: 100%;
        height: 30%;
        filter: blur(2px)
    }

    .third-preview{

        
        padding: 100px;
        margin-bottom: 10px 10px;
        width: 100%;
        height: auto;
    }
    .slider-item{

        width: 300px;
       
        position: absolute;
        left: 50px;
           
        
    }

    .historia {

        font-size: 10px;
        display: flex;
        text-align: center;
        margin-top: 250px
        
    }

    .mision{

        font-size: 10px;
        display: flex;
        text-align: center;
        margin-top: -450px;
        margin-left: auto;
        
    }

    .texto2{

        font-size: 20px;
        top: 175%;
        left: 100px;
    }

    .boton-vermas2{

        font-size: 20px;
        left: 150px;
        position: absolute;
        top: 180%;
        
       
    }


    .mapa{

        display: none;
    }

    footer{

        padding: 7%;
        width: auto;
        height: 230px;

    }

    footer .logo{

        width: 200px;
        margin-top: -10px;

    }
    

    footer div i {

        left: 40px;
    }


    footer i{

        font-size: 10px;
        padding: 3px;
        left: 40px;
        
        
    }

    footer h3{

        position: relative;
        display: flex;
        margin-left: 50%;
        margin-bottom: 3px;
        font-size: 10px;
        bottom: 20px;

    }
}



@media (min-width: 768px) {

}



@media (min-width: 1280px) {

}