<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Finalizaste tu compra </title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="/css/carrito.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/edeb1fef90.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="logo"> <img src="images/sp_logo.png"> </div>
        
    </header>
    <main class="finalizaste-main">

        <div class="contenedor-icon">
        <div class="finalizaste-icon"><i class="fa-solid fa-check"></i></div>
        </div>

        <h1 class="finalizaste-titulo">
        Finalizaste tu compra con éxito
        </h1>

        <div class="finalizaste-texto">
            Tu código de compra es #8759305
            <br>
            Podrás visualizar el resumen de tu compra en tu casilla de correo electrónico
            <br>
            ¡Muchas gracias!

        </div>
    
    </main>


</body>
</html>