<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ¿Quienes somos? </title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="/css/carrito.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/edeb1fef90.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="logo"> <img src="images/sp_logo.png"> </div>
        
    </header>
    <main class="quienes-main">
        <h1 class="quienes-titulo"> ¿Quienes somos? </h1>

        <div>

            

            <p class="quienes-texto">

            Sucré Pastelería, más que una empresa, es el sueño cumplido de una pequeña familia
            emprendedora. 
            Abrimos nuestra primera sucursal hace 20 años en Capital Federal, priorizando siempre
            la calidad de nuestros productos para ofrecerle a nuestros clientes
            la mejor experiencia. Realizamos capacitaciones anuales a nuestro equipo, para mantenernos actualizados 
            acerca de las ultimas novedades del mundo la pasteleria.


        </p>

        
        </div>
        

    </div>
    </main>

</body>
</html>